<div class="row">
  <div class="col-md-3 col-md-offset-1">
    <%= image_tag @project.image_url image__size: "thumb" %>

    <p>
      <strong>Name:</strong>
      <%= @project.name %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @project.title %>
    </p>
    <p>
      <strong>Model Brand:</strong>
      <%= @project.brand %>
    </p>

    <p>
      <strong>Description:</strong><br />
      <%= @project.description %>
    </p>

    <button><%= link_to 'Write a New Post', new_project_post_path(@project) %></button>
    <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-link" %> |
    <%= link_to 'Back', projects_path, class: "btn btn-link" %>

  </div>
</div>